<p dir="auto" align="center">
	<a href="https://f-droid.org/packages/app.smarttube.fdroid/" rel="nofollow">
		<img src="https://github.com/yuliskov/SmartTube/raw/master/images/badge_fdroid.png" alt="Get it on F-Droid" height="80" style="max-width: 100%; height: auto; max-height: 80px;">
	</a>
	<a href="https://github.com/yuliskov/SmartTube/releases">
		<img src="https://github.com/yuliskov/SmartTube/raw/master/images/badge_github.png" alt="Get it on GitHub" height="80" style="max-width: 100%; height: auto; max-height: 80px;">
	</a>
</p>